body {
	background-color: #DDD;
	font-family: Arial;
	text-align: center;
}

svg {
	width: 80%;
	margin: auto;
}

#house {
	width: 80%;
	padding: 5px;
	background: white;
	margin: auto;
	margin-top: 50px;
	box-shadow: 10px 10px;
}

h1 {
	font-size: 50px;
}

/** breaches text **/
#breach-amount {
	font-size: 35px;
	text-align: center;
}

#reason {
	font-size: 14px;
	font-style: italic;
}