/** general styling **/
body {
	background-color: #f9f9f9;
	font-family: Arial;
	text-align: center;
}

/** general styling for any svg **/
/** ensures is centered **/
svg {
	margin: auto;
}

/** contaniner for all elements **/
#house {
	width: 65%;
	padding: 5px;
	background: white;
	margin: auto;
	margin-top: 50px;
	box-shadow: 10px 10px;
}

/** overall title **/
h1 {
	font-size: 50px;
	font-weight: bold;
	margin-top: 32px;
}

/** description of data and source **/
#description {
	font-size: 20px;
	width: 50%;
	margin: auto;
	margin-top: 24px;
}

/** shows total amount of breaches **/
#breach-title {
	font-size: 42px;
	text-align: center;
	font-weight: bold;
	margin-top: 50px;
}

#breach-amount {
	font-size: 42px;
	text-align: center;
	font-weight: bold;
	margin-top: -20px;
}

/** randoms reasons for breaches **/
#reason {
	font-size: 18px;
	width: 50%;
	margin: auto;
	margin-top: 50px;
	font-style: italic;
}



#map-viz {
	
	margin: auto;
}

#map-viz h2 {
	font-weight: bold;
	margin-top: 100px;
}

/** styling for states **/
.state {
	stroke: #fff;
	stroke-width: 1;
}

.state:hover {
	opacity: .80;
}

#legend {
	margin-left: auto;
	width: 25%;
}

#legend h4 {
	text-align: center;
	
}

#legend-grad {
	width: 100px;
	height: 24px;
  	background-image: linear-gradient(to right, #dbdbdb, #af2b2b);
  	margin: auto;
  	margin-top: 5px;
}

#legend p {
	text-align: center;
	margin-top: 5px;
}


#tooltip {   
	position: absolute;           
	text-align: center;
	padding: 20px;             
	margin: 10px;
	font-size: 12px;        
	background: black;   
	border: 1px;               
	pointer-events: none;         
	background:rgba(0,0,0,1);
	font-size:12px;
	width:auto;
	padding:4px;
	color:white;
	opacity: 0;
	
}