/** general styling **/
body {
	font-family: Arial;
	text-align: center;
}

/** general styling for any svg **/
/** ensures is centered **/
svg {
	margin: auto;
}

/** contaniner for all elements **/
#house {
	width: 100%;
	padding: 5px;
	background: white;
	margin: auto;
	margin-top: 0px;
}

/** overall title **/
h1 {
	font-size: 50px;
	font-weight: bold;
	margin-top: 15px;
}

/** description of data and source **/
#description {
	font-size: 18px;
	width: 60%;
	margin: auto;
	margin-top: 20px;
}

/** shows total amount of breaches **/
#breach-amount {
	font-size: 42px;
	text-align: center;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 20px;
}

/** states map **/
#map-viz {
	display: inline-block;
	float: left;
}

#map-viz h2 {
	font-weight: bold;
	margin-top: 10px;
}

/** styling for states **/
.state {
	stroke: #fff;
	stroke-width: 1;
}

/** on state hover change opacity **/
.state:hover {
	opacity: .80;
}

#legend {
	padding: 0px;
	margin-top: -10%;
	margin-left: 50%;
	width: 25%;
}

/** title in map legend **/
#legend h4 {
	text-align: center;
	margin-top: 0px;

}

/** map legend gradient **/
#legend-grad {
	width: 100px;
	height: 24px;
  	background-image: linear-gradient(to right, #dbdbdb, #af2b2b);
  	margin: auto;
  	margin-top: 5px;
}

/** text in map legend **/
#legend p {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 0px;
}

/** tooltop for map **/
#tooltip {
	position: absolute;
	text-align: center;
	padding: 20px;
	margin: 10px;
	font-size: 12px;
	border: 1px;
	pointer-events: none;
	background:rgba(0,0,0,.9);
	font-size:12px;
	width:auto;
	padding:4px;
	color:white;
	opacity: 0;
}

/** tooltip for scatterplot **/
.tooltip {
    position: absolute;
    text-align: center;
    padding: 3px;
    color:white;
    background:rgba(0,0,0,.9);
    pointer-events: none;
}

/** dropdown for scatterplot **/
#dropdown{
	margin-left: 55%
}

/** scatterplot **/
#chart-area {
	display: inline-block;
}






