body {
	background-color: #DDD;
}

#house {
	width: 80%;
	padding: 5px;
	background: white;
	margin: auto;
	margin-top: 50px;
	box-shadow: 10px 10px;
}

h1 {

	text-align: center;
}

/** breaches text **/
#breach-amount {
	font-size: 100px;
	font-family: Arial;
	text-align: center;
}